<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Theming Controller</title>

</head>
<body style="text-align:center;">
<h1> Theming controls </h1>
                <h2> Status: {{ status }} </h2>
                <div style= "display: flex; justify-content: center; gap: 12px; margin-top: 20px;">
                    <form action="/start-theming" method="post">
                        <button style="padding: 12px 24px; font-size:18px;">Start</button>
                    </form>
                    <form action="/stop-theming" method="post">
                        <button style="padding: 12px 24px; font-size:18px;">Stop</button>
                    </form>
                </div>
            </body>
            <div style="text-align:center; margin-top:20px;">
                <a href="/one"><button style="padding: 12px 24px; font-size:18px;">One</button></a>
                <a href="/two"><button style="padding: 12px 24px; font-size:18px;">Two</button></a>
                <a href="/three"><button style="padding: 12px 24px; font-size:18px;"><b>Three</b></button></a>
                <a href="/four"><button style="padding: 12px 24px; font-size:18px;">Four</button></a>
            </div>
</body>
</html>