[Desktop Entry]
Type=Application
Name=RCC Boot
Comment=Start RCC with kiosk mode prompt
Exec=lxterminal --geometry=999x999 -e /opt/rcc/scripts/rcc-boot.sh
Icon=system-run
Terminal=false
Categories=Utility;
