<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Terrier Ride Engineering Club</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <style>
    .custom-navbar {
      background-color: #2D2926 !important; /* BU Red */
    }
  </style>
</head>
<body>
  <!-- Header Bar -->
{% set active_page = "controls" %}
{% include "base.html" %}

  <!-- Main Container -->
  <div class="container my-5">
    <div class="row">
      <!-- Status Card -->
      <div class="col-md-6 mb-4">
        <div class="card border-primary shadow">
          <div class="card-header bg-primary text-white">
            <h5 class="mb-0">System Status</h5>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Ride State: <span id="statusState" class="badge bg-secondary">Unknown</span>
            </h5>
            <p class="card-text">
              Connection Status: <span id="connectionStatus" class="badge bg-warning">Unknown</span>
            </p>

            <table class="table table-bordered mt-3">
              <thead class="table-light">
                <tr>
                  <th>Input Name</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><i class="fas fa-exclamation-triangle text-danger"></i> ESTOP</td>
                  <td><span id="statusEstop" class="badge bg-danger">N/A</span></td>
                </tr>
                <tr>
                  <td><i class="fas fa-hand-paper text-warning"></i> Stop</td>
                  <td><span id="statusStop" class="badge bg-danger">N/A</span></td>
                </tr>
                <tr>
                  <td><i class="fas fa-flag-checkered text-success"></i> Dispatch</td>
                  <td><span id="statusDispatch" class="badge bg-danger">N/A</span></td>
                </tr>
                <tr>
                  <td><i class="fas fa-power-off text-dark"></i> Ride On/Off</td>
                  <td><span id="statusRideOff" class="badge bg-danger">N/A</span></td>
                </tr>
                <tr>
                  <td><i class="fas fa-redo text-primary"></i> Restart</td>
                  <td><span id="statusRestart" class="badge bg-danger">N/A</span></td>
                </tr>
              </tbody>
            </table>
            <button id="refreshStatus" type="button" class="btn btn-outline-primary">
              Refresh Status
            </button>
          </div>
        </div>
      </div>
        <!-- Control Card -->
        <div class="col-md-6 mb-2">
          <div class="card border-secondary shadow">
            <div class="card-header bg-secondary text-white">
              <h5 class="mb-0">Ride Overview</h5>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm p-2">
                  <!-- Live data -->
                  
                  <div class="card-body text-center border-secondary p-0">
                    <h3 class="text-center">Live Data</h3>
                    <table class="table table-striped table-bordered table-hover table-sm">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Value</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">MC Status</th>
                          <td id="motorControllerStatus">Normal</td>
                        </tr>
                        <tr>
                          <th scope="row">Motor Speed</th>
                          <td id="motorSpeed">0</td>
                        </tr>
                        <tr>
                          <th scope="row">Motor Current</th>
                          <td id="motorCurrent">0</td>
                        </tr>
                        <tr>
                          <th scope="row">PSU Voltage</th>
                          <td id="powerSupplyVoltage">0</td>
                        </tr>
                        <tr>
                          <th scope="row">Enc Pos</th>
                          <td id="encoderPosition">0</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-sm p-2">
                  <div class="card-body text-center border-secondary p-0">
                    <h3 class="text-center">Faults List</h3>
                    <div id="activeWarnings" style="background-color: #f8f9fa; border: 1px solid #dee2e6; height: 200px; overflow-y: scroll;"></div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- JavaScript to interact with the API -->
  <script>
    const apiBase = `${window.location.protocol}//${window.location.hostname}:23843/api`;

    function fetchMotorStatus() {
      fetch(`${apiBase}/motor/status`)
        .then(response => response.json())
        .then(data => {
          document.getElementById('encoderPosition').innerHTML = `<strong>${data.encoderPosition}</strong>`;
          // document.getElementById('encoderHomePosition').innerHTML = `<strong>${data.encoderHomePosition}</strong>`;
          document.getElementById('motorSpeed').innerHTML = `<strong>${data.motorSpeed}</strong>`;
          document.getElementById('motorCurrent').innerHTML = `<strong>${data.motorCurrent}</strong>`;
          document.getElementById('powerSupplyVoltage').innerHTML = `<strong>${data.powerSupplyVoltage}</strong>`;
          document.getElementById('motorControllerStatus').innerHTML = `<strong>${data.motorControllerStatus}</strong>`;
        })
        .catch(error => {
          console.error('Error fetching motor status:', error);
        });
    }
    // Fetch motor status immediately and then every 100ms
    fetchMotorStatus();
    setInterval(fetchMotorStatus, 100);

    // Function to send POST requests to the backend for ride control actions
    async function sendRideCommand(endpoint) {
      try {
        const successMessage = "Command Sent!"
        const response = await fetch(`${apiBase}/${endpoint}`, { method: 'POST' });
        const data = await response.json();
        const msgDiv = document.getElementById('controlMessage');
        if (response.ok) {
          msgDiv.innerHTML = `<div id="fadeMessage" class="alert alert-success">${successMessage}</div>`;
        } else {
          msgDiv.innerHTML = `<div id="fadeMessage" class="alert alert-danger">${data.error}</div>`;
        }

            // Automatically fade out message after 500ms
        setTimeout(() => {
          const fadeMessage = document.getElementById('fadeMessage');
          if (fadeMessage) {
            fadeMessage.style.transition = "opacity 0.5s ease-out";
            fadeMessage.style.opacity = "0";
            setTimeout(() => fadeMessage.remove(), 500); // Fully remove element after fading
          }
        }, 500);
        updateStatus();
      } catch (error) {
        console.error(`Error executing ${endpoint}:`, error);
      }
    }

    // Button Event Listeners
    document.getElementById('triggerEstop').addEventListener('click', () => {
      sendRideCommand("estop");
    });

    document.getElementById('stopRide').addEventListener('click', () => {
      sendRideCommand("stop");
    });

    document.getElementById('dispatchRide').addEventListener('click', () => {
      sendRideCommand("dispatch");
    });

    document.getElementById('rideOff').addEventListener('click', () => {
      sendRideCommand("ride_off");
    });

    document.getElementById('restartRide').addEventListener('click', () => {
      sendRideCommand("restart");
    });

    document.getElementById('toggleWebControls').addEventListener('click', async () => {
      try {
        const response = await fetch(`${apiBase}/toggle_webcontrols`, { method: 'POST' });
        const data = await response.json();
        if (!response.ok) {
          console.error('Error toggling web controls:', data.error);
        }
        updateStatus();
      } catch (error) {
        console.error('Error toggling web controls:', error);
      }
    });

    document.getElementById('maintenanceButton').addEventListener('click', async () => {
      console.log("Maintenance button clicked");
    });

    // Function to update status by fetching from /status endpoint
    async function updateStatus() {
      const connectionStatus = document.getElementById('connectionStatus');
      try {
        const response = await fetch(`${apiBase}/status`);
        if (!response.ok) throw new Error('Network error');
        const data = await response.json();

        // Update connection status
        connectionStatus.innerText = "Connected";
        connectionStatus.classList.remove("bg-danger", "bg-warning");
        connectionStatus.classList.add("bg-success");

        // Update Ride State
        document.getElementById('statusState').innerText = data.state;
        document.getElementById('statusState').classList.remove("bg-secondary");
        document.getElementById('statusState').classList.add(data.state === "RUNNING" ? "bg-success" : "bg-secondary");

        // Function to update badges based on boolean values
        function updateBadge(elementId, value) {
          const element = document.getElementById(elementId);
          element.innerText = value ? "Active" : "Inactive";
          element.classList.remove("bg-danger", "bg-success");
          element.classList.add(value ? "bg-success" : "bg-danger");
        }

        // Update individual system states
        updateBadge('statusEstop', data.ESTOP);
        updateBadge('statusStop', data.STOP);
        updateBadge('statusDispatch', data.DISPATCH);
        updateBadge('statusRideOff', data.RIDE_OFF);
        updateBadge('statusRestart', data.RESTART);

        const webControlFlag = document.getElementById('webControlFlag');
        webControlEnabled = data.controlType == "web";
        if (webControlFlag) {
          webControlFlag.innerText = webControlEnabled ? "Web Controls: Enabled" : "Web Controls: Disabled";
          webControlFlag.classList.remove("alert-info", "alert-success", "alert-danger");
          webControlFlag.classList.add(webControlEnabled ? "alert-success" : "alert-danger");
        }
        // Disable or enable ride control buttons based on webControlEnabled flag
        // const controlButtons = [
        //   'triggerEstop',
        //   'stopRide',
        //   'dispatchRide',
        //   'rideOff',
        //   'restartRide'
        // ];
        // controlButtons.forEach(id => {
        //   const button = document.getElementById(id);
        //   if (button) {
        //     button.disabled = !webControlEnabled;
        //   }
        // });
      } catch (error) {
        console.error('Error updating status:', error);
        connectionStatus.innerText = "Disconnected";
        connectionStatus.classList.remove("bg-success", "bg-warning");
        connectionStatus.classList.add("bg-danger");
      }
    }


    // Event listener for refresh button
    document.getElementById('refreshStatus').addEventListener('click', updateStatus);

    // Update status automatically every .1 seconds
    setInterval(updateStatus, 1000);
    updateStatus();
  </script>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>